<a href="https://colab.research.google.com/github/CertifiedSlee/Project-1--Ogundeji-Solomon/blob/main/Hamoye_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url= "https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv"
url_df=pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [ ]:
url_df.groupby('Item')['Item'].sum()

Item
Alcohol, Non-Food      Alcohol, Non-FoodAlcohol, Non-FoodAlcohol, Non...
Alcoholic Beverages    Alcoholic BeveragesAlcoholic BeveragesAlcoholi...
Animal Products        Animal ProductsAnimal ProductsAnimal ProductsA...
Animal fats            Animal fatsAnimal fatsAnimal fatsAnimal fatsAn...
Apples and products    Apples and productsApples and productsApples a...
                                             ...
Vegetables, Other      Vegetables, OtherVegetables, OtherVegetables, ...
Vegetal Products       Vegetal ProductsVegetal ProductsVegetal Produc...
Wheat and products     Wheat and productsWheat and productsWheat and ...
Wine                   WineWineWineWineWineWineWineWineWineWineWineWi...
Yams                   YamsYamsYamsYamsYamsYamsYamsYamsYamsYamsYamsYa...
Name: Item, Length: 119, dtype: object

In [ ]:
url_df.groupby('Y2015')['Y2015'].mean()

Y2015
-3161.0       -3161.0
-2152.0       -2152.0
-1284.0       -1284.0
-907.0         -907.0
-887.0         -887.0
               ...
 92443.0      92443.0
 100835.0    100835.0
 110798.0    110798.0
 111663.0    111663.0
 181137.0    181137.0
Name: Y2015, Length: 4520, dtype: float64

In [ ]:
url_df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [ ]:
url_df.isnull().std()

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           0.159355
Y2015           0.157340
Y2016           0.156695
Y2017           0.155246
Y2018           0.151684
dtype: float64

In [ ]:
url_df.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [ ]:
url_df.groupby('Item').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [ ]:
url_df.groupby('Element').mean()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,133.898584,2681.292729,5301.0,380.762080,385.413451,389.493848,397.146843,411.185712
Export Quantity,136.250284,2689.201226,5911.0,40.989246,42.552503,41.587862,49.819344,49.806583
Fat supply quantity (g/capita/day),134.391798,2694.604818,684.0,2.059529,2.057849,2.028669,2.058177,2.057086
Feed,133.640637,2682.719484,5521.0,178.394646,191.206644,188.443333,184.423479,190.603820
Food,134.243068,2688.734062,5142.0,247.616930,251.450949,253.976002,256.288331,265.385972
Food supply (kcal/capita/day),134.434982,2694.666933,664.0,91.824742,91.500101,91.035664,91.577241,91.620246
Food supply quantity (kg/capita/yr),134.239755,2688.155148,645.0,10.216179,10.142884,10.050324,9.985652,10.058817
Import Quantity,133.912045,2684.562366,5611.0,55.731750,54.371505,58.390949,59.760416,58.240059
Losses,136.561971,2700.250373,5123.0,76.268293,77.371329,78.540070,79.947237,81.624502
Other uses (non-food),136.001155,2730.801963,5154.0,47.363496,39.744697,42.572632,56.606529,55.166749
Processing,135.293532,2661.898507,5131.0,142.387016,144.325313,140.596693,146.564565,153.983525
Production,135.725586,2692.618655,5511.0,504.252676,508.625755,506.393213,530.179391,539.540533
Protein supply quantity (g/capita/day),134.391798,2694.604818,674.0,2.384941,2.380597,2.366350,2.378002,2.373357
Residuals,133.892803,2668.332760,5170.0,6.548436,6.524430,8.074620,7.687311,7.552860
Seed,135.875328,2671.828084,5527.0,28.770236,31.590013,30.815810,32.810211,33.328681
Stock Variation,135.058129,2677.109405,5072.0,13.888849,8.255141,7.832692,12.837842,4.879751
Total Population - Both sexes,133.777778,2501.000000,511.0,22924.111111,23512.911111,24113.488889,24725.355556,25346.777778
Tourist consumption,90.645045,2678.428829,5171.0,0.749550,0.628829,0.160360,0.163964,0.162162